<!DOCTYPE html>
<html lang="en">
<head>

  <title>PlanIt</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  </head>

  <body>
  </br>
  <h1>It's Not rocket science, but it also 'aint easy</h1>
  <h2 id="welcome_page"> - Plan It - </h2>
  <h1> The hassle and stress taken out of planning your own party</h1>
  <div class="features">

  <h3>Manage your event seamlessly from start to finish.</h3>

  <h1>Features Include</h1>
  <ul>
    <li>Structured outlines of the planning process; whether it's an elaborate birthday party or a casual potluck</li>
    <li>Checklists to ensure your event is fail proof</li>
    <li>Automated reminder texts or emails to RSVPed guests</li>
  </ul>

  <h1> <%=link_to 'Start Planning', events_path %> </h1>
  </div>

</body>
</html>
