<h1 class="adding"> Add the Details of Your Event Below</h1>

<!--<h1>Add The Details of your Event Below</h1>
<table>
  < %= form_for @event, url: {action: "create"} do |f| %>
    <tr>
      <td>< %= f.label :event_name %></td>
      <td id="text_field">< %= f.text_area :url %></td>
    </tr>
    <tr>
      <td> < %= f.select :type_of_event, options_for_select(%w[Birthday surprise]) %></td>
      <td id="text_field">< %= f.text_area :description %></td>
    </tr>
    <tr>
      <td>< %= f.label :rating %></td>
      <td id="text_field">< %= f.number_field(:rating, in: 1.0..5.0, step: 1) %></td>
    </tr>
    <tr>
      <td id="text_field">
        < %= f.submit(value = 'Create Picture') %>
  < % end %>
  </td>
  </tr>
</table>-->

<form action="/events" method="post">
   <p class="form">Event Name:<input type="text" name="event_name"/>
   Type of Event:<input type="text" name="event_type"/></p>
   <p class="form"> of Event: <input type="text" name="date"/>
   Time of Event:<input type="text" name="time"/></p>
    <input type="submit" value="Add"/>
  </form>





