<h2> Add the Details of You Event Below</h2>

 <form action="/events/new" method="post">
   Event Name:<input type="text" name="event_name"/>
   Type of Event:<input type="text" name="event_type"/>
   Date of Event: <input type="text" name="date"/>
   Time of Event:<input type="text" name="time"/>
    <input type="submit" value="Add"/>
  </form>

<table>
  <% @event.each do |details| %>
    <tr>
      <td>Event Name: <%= details.event_name%></td>
      <td>Event Type: <%= details.event_type%></td>
      <td>Date: <%= details.date%></td>
      <td>Time: <%= details.time%></td>
    </tr>
  <% end%>
</table>



